@page
@model PRN221_E_Commerce_Website.Pages.Auth.LoginModel
@{
    Layout = "Shared/_Layout";
}
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="login" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="flex-content">
                        <div class="custom-form custom-form-fields">
                            <h3>Login</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <form method="post">
        <div class="form-group m-2">
            <label for="Username" class="sr-only">Username</label>
            <input type="text" class="form-control account" id="Username" name="Username" required>
        </div>
        <div class="form-group m-2">
            <label for="Password" class="sr-only">Password</label>
            <input type="password" class="form-control form-control-lg password" id="Password" name="Password" required>
        </div>
        <button type="submit" class="btn btn-orange btn-block m-2">Submit</button>
    </form>

                            <div class="other-links">
                                <a asp-page="ForgotPassword">Forgot Password ?</a>
                            </div><!-- end other-links -->
                        </div><!-- end custom-form -->

                        <div class="flex-content-img custom-form-img">
                            <img src="~/img/image--ks2.png" class="img-responsive" alt="registration-img" />
                        </div><!-- end custom-form-img -->
                    </div><!-- end form-content -->

                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end login -->
</section><!-- end innerpage-wrapper -->