@page
@model Order.IndexModel
@{
    Layout = "../Shared/_Layout";
}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" asp-page="Pizza/Pizza">Pizzas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-page="Category/Category">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-page="Order/Index">Orders</a>
    </li>
</ul>